@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
    transition: 0.5s;
    align-items: center;
    scroll-behavior: smooth;
  }

body {
  font-family: 'SUIT', sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  color: black;
  letter-spacing: 0.1px;
  background-color: #fff;
  color: #131313;
}

h1 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 900;
  }

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
}

h6 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 450;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: #131313;
}

p {
  text-decoration: none;
  font-weight: 400;
}

ul, li {  
  list-style: none;
  text-decoration: none;  
  }
  
button {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px 30px;
  transition: 0.3s;
  border-radius: 100px;
  border: 0px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1 {
  color: #121212;
  background: #fff;
  border: 1px solid #232323;
  cursor: default;
  width: 100%;

} .btn1:hover {
  background: #F5F5F5;
  border: 1px solid #C2C2C2;
  color: #757575;
}

.btn2 {
  width: 100%;
  color: #fff;
  background: #131313;
  cursor: default;
} .btn2:hover {
  background: #616161;
}

.btn3 {
  color: #919191;
  background: none;
  border-radius: 0px;
  padding: 0px;
  cursor: default;
} .btn3:hover {
  color: #616161;
}

img {
  width: 100px;
  vertical-align: middle;
  max-width: 100%;
}

.mo-dont {
  display: none;
}

.pc-dont {
  display: block;
}

.dis-block {
  display: block;
}

.dis-none {
  display: none;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-upper {
  text-transform: uppercase;
}

.t-lower {
  text-transform: lowercase;
}

.t-inherit {
  text-transform: inherit;
}

.t-initial {
  text-transform: initial;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-left {
  display: flex;
  justify-content: left;
}

.flex-right {
  display: flex;
  justify-content: right;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.img_hover {
  overflow: hidden;
}

.img_hover:hover>img {
  scale: 1.1;
  object-fit: cover;
}

.cursor-p {
  cursor: pointer;
}

/*  */

.pc-none {
  display: block;
}

.mo-none {
  display: none;
}

.t-form {
  margin-bottom: 30px;
  text-align: center;
}

.t-main {
  font-size: 1.5rem;
  font-weight: 800;
  cursor: default;
}

.t-more {
  width: 100%;
  height: 20px;
  background: url("https://i.ibb.co/n1KxtVw/more.png")no-repeat;
  background-size: contain;
  background-position: center;
  cursor: default;
  margin: 0 auto;
  transform: scaleX(1);
  transition: 0.5s;
}

.t-more:hover {
  margin: 0 0 0 auto;
  transform: scaleX(1.1);
}

.t-sub {
  margin-top: 12px;
  color: #757575;
  margin-bottom: 10px;
}

.desc {
  font-size: 0.7rem;
  font-weight: 600;
  color: #616161;
  margin-bottom: 12px;
}

input {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #dadbdc;
  padding: 10px 16px;
}

input::placeholder {
  font-size: 0.8rem;
}

input[type="radio"] {
  /* display: none; */
}

input[type="checkbox"] {
  /* display: none; */
}


.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.iconA {
  /* 아이콘 관련 CSS a 태그에 class: iconA */
  display: block;
  width: 40px;
  height: 40px;
}
.iconA i {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  color: #fff;
}

/* start */
.wrap {
  margin-bottom: 220px;
}

.buy_visual {

}

.buy_vi_inner {
  margin-bottom: 50px;
  position: relative;
}

.buy_vi_inner .imgswiper {

}

.buy_vi_inner .imgswiper .swiper-pagination {
  position: absolute;
  bottom: 40px !important;
}

.buy_vi_inner .imgswiper .swiperbutton div {
  position: absolute;
  top: 50%;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
} .buy_vi_inner .imgswiper .swiperbutton div:hover {
  background: rgba(0, 0, 0, 0.2);
}

.buy_vi_inner .imgswiper .swiperbutton div::after {
  font-size: 1.6rem;
}

.buy_vi_inner .imgswiper .swiperbutton .prev {
  left: 60px;
}

.buy_vi_inner .imgswiper .swiperbutton .next {
  right: 60px;
}

.buy_vi_inner .imgswiper .img_box {
  height: 500px;
}


.buy_vi_inner .imgswiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buy_vi_inner .buyprice_area {
  padding: 30px 16px;
  margin-bottom: 16px;
  background: #121212;
  color: #fff;
  align-items: start;
  justify-content: space-between;
}

.buy_vi_inner .buyprice_area .title {
  margin-bottom: 24px;
}

.buy_vi_inner .buyprice_area .tt {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.buy_vi_inner .buyprice_area .desc {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
}

.buy_vi_inner .buyprice_area .inn {
  display: flex;
  justify-content: left;
  gap: 12px;
  align-items: start;
}

.buy_vi_inner .buyprice_area .inn li {
  width: 120px;
}

.buy_vi_inner .buyprice_area .inn .img_box {
  width: 40px;
  margin-bottom: 8px;
}

.buy_vi_inner .buyprice_area .inn .txt {
  font-size: 0.7rem;
}

.buy_detail {
  max-width: 1200px;
  margin: 0 auto;
}

.pdp_cont {
  padding: 0px 16px 40px 16px;
  margin: 0 0 40px 0;
  border-bottom: 8px solid #F5F5F5;
} .pdp_cont:last-child {
  border: none;
}

.pdp_cont .t-tit {
  font-size: 1.2rem;
  font-weight: 700;
}

.con_sumUp .pdp_inn li, .trim_option .pdp_inn li, .col_option .pdp_inn li {
  margin-bottom: 17px;
} .con_sumUp .pdp_inn li:last-child, .trim_option .pdp_inn li:last-child, .col_option .pdp_inn li:last-child {
  margin-bottom: 0px;
}

.con_sumUp .pdp_inn li,
.trim_option .pdp_inn li,
.col_option .pdp_inn li {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 17px;
}

.con_sumUp .pdp_inn li:last-child,
.trim_option .pdp_inn li:last-child, .col_option .pdp_inn li:last-child {
  border: none;
}

.pdp_cont .pdp_inn .title {
  color: #919191;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.pdp_cont .pdp_inn .name {
  line-height: 1.2rem;
}

.pdp_cont .pdp_inn .bold {
  font-weight: 600;
}

.pdp_cont .pdp_inn .label_box {
  display: flex;
  gap: 10px;
}

.pdp_cont .pdp_inn .label_box input {
  margin-right: 10px;
  cursor: pointer;
}

.pdp_cont .pdp_inn .label_box label {
  cursor: pointer;
}

.pdp_cont .pdp_inn .price_info {
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
  padding: 8px;
  border-radius: 8px;
}

.pdp_cont .pdp_inn .price_info .bold {
  margin-bottom: 8px;
}

.pdp_cont .pdp_inn .price_info .desc {
  font-size: 0.7rem;
  color: #757575;
}

.con_sumUp li div, .trim_option li div {
  margin-bottom: 8px;
}

.con_sumUp li div:last-child, .trim_option li div:last-child {
  margin: 0;
}

.con_sumUp li div {
  margin-bottom: 8px;
}

.con_sumUp li div:last-child {
  margin: 0;
}

.con_option .pdp_inn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
}

.con_option .pdp_inn li {
  width: 16.1%;
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.con_option .pdp_inn li p {
  color: #757575;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trim_option input[type="radio"] {
  display: none;
}

.trim_option label {
  border-radius: 100px;
  border: 1px solid #dadbdc;
  position: relative;

} .trim_option label:hover {
  background: #f1f1f1;
}

.trim_option input[type="radio"]:checked + label {
  border: 1px solid #121212;
  padding-right: 10px;
}

.trim_option input[type="radio"]:checked + label .name {
  font-weight: 700;
  color: #121212;
  
}

.trim_option input[type="radio"]:checked + label::after {
  content: '';
  position: absolute;
  background: url("imge/icon/check_on.png")no-repeat;
  top: 50%;
  right: 10%;
  transform: translate(0%, -50%);
  background-size: cover;
  background-position: center;

  width: 20px;
  height: 20px;
}

.trim_option .label_box .name {
  padding: 8px 40px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #606060;
}

.col_option input[type="radio"] {
  display: none;
}

.col_option .col_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.col_option label {
  text-align: center;
  font-size: 0.7rem;
} 

.col_option label .name {
  color: #474846;
  white-space: nowrap;
  display: none;
}

.col_option label:hover .name {
  font-weight: 700;
  color: #121212;
}

.col_option input[type="radio"]:checked + label .col_box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("https://www.kia.com/content/dam/kwp/functional/ico_check.svg")no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 30px;
}

.col_option input[type="radio"]:checked + label .name {
  font-weight: 700;
  color: #121212;
}

.col_option .label_box .name {

}

.col_option .label_box .col_box {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.col_option .label_box .col_box.blue {
  background-color: #11192E;
} 

.col_option .label_box .col_box.white {
  background-color: #f0f0f0;
} 

.col_option .label_box .col_box.bage {
  background-color: #C4C0AD;
} 

.col_option .label_box .col_box.blue {
  background-color: #11192E;
} 

.col_option .label_box .col_box.gray {
  background-color: #474846;
} 

.col_option .label_box .col_box.mint {
  background-color: #8AA3A1;
} 

.col_option .label_box .inncolor .col_box.black {
  background-color: #121212;
}

.tab_option .t-form, .tab_option .opTab {
  padding: 0px 16px 40px 16px;
}

.tab_option .opTab {
  color: #919191;
  background: #f8f8f8;
  border: 1px solid #dadbdc;
  border-radius: 100px;
  padding: 4px;
  gap: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.tab_option .opTab > div {
  width: 50%;
  text-align: center;
  padding: 10px 16px;
  color: #919191;
  border-radius: 100px;
  cursor: pointer;
} .tab_option .opTab > div:hover {
  background-color: #e6e6e6;
}

.tab_option .opTab > div.active {
  background-color: #121212;
  color: #fff;
}

.tab_option .opConbody .opConarea {
  display: none;
}

.tab_option .opConbody .opConarea.active {
  display: block;
  z-index: -1;
}

.tab_option .opSubarea .opSublist {
  display: none;
}

.tab_option .opSubarea .opSublist.active {
  display: block;
  z-index: -1;

}

.tab_option .opConarea .tt {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 24px;
  border-bottom: 1px solid #616161;
}

.tab_option .opConInn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start;
}

.tab_option .opConInn .load {
  display: block;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #606060;
  border: 1px solid #dadbdc;
  border-radius: 100px;
} .tab_option .opConInn .load:hover {
  background: #dadbdc;
}

.tab_option .opConInn .opCon { 
  display: block;
  width: 48%;
  margin-bottom: 10px;
  border: 1px solid #dadbdc;
  border-radius: 12px;
  overflow: hidden;
}

.tab_option .opSublist .opConInn .opCon {
  display: block;
}

.tab_option .opConInn .opCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab_option .opConInn .opCon .txt_box {
  padding: 16px 8px;
}

.tab_option .opConInn .opCon .txt_box .opname {
  font-weight: 600;
  margin-bottom: 12px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
}

.tab_option .opConInn .opCon .txt_box .opprice {
  font-weight: 600;
  color: #606060;
}
.tab_option .opConInn .opCon .txt_box .opprice span {
  margin-left: 3px;
  font-weight: 400;
}

.tab_option .opConarea .drag {
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  margin-bottom: 24px;
} 

.tab_option .opConarea .drag::-webkit-scrollbar {
  display: none;
}

.tab_option .opConarea .subTab {
  margin-bottom: 12px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #919191;
  cursor: pointer;
}

.tab_option .opConarea .subTab > div {
  position: relative;
  padding: 10px 16px;
} .tab_option .opConarea .subTab > div:hover {
  color: #121212;
}

.tab_option .opConarea .subTab > div.active {
  color: #121212;
}

.tab_option .opConarea .subTab > div::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #121212;
  transition: 0.5s;
  transform: translate(-25%, 50%) scaleX(0);
}

.tab_option .opConarea .subTab > div.active::before {
  width: 100%;
  transform: translate(0%, 50%) scaleX(1);
}

.price_area {
  position: relative;
}

.price_area > div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 8px 16px 16px 16px;
  background: #fff;
  box-shadow: 0px -8px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px 16px 0 0;
}

.price_area .tit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.price_area .tit h4 {
  font-size: 1rem;
  font-weight: 700;
}

.price_area .tit h4 span {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 4px;
}

.price_area .t_price .desc {
  margin-bottom: 6px;
}

.price_area .t_price .tooltips {
  margin-bottom: 10px;
  display: flex;
  justify-content: right;
} .price_area .t_price .tooltips:hover i {
  opacity: 100%;
}

.price_area .t_price .tooltips i {
  cursor: pointer;
  opacity: 50%;
}

.price_area .t_price .tooltips p {
  color: #131313;
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 4px;
  cursor: pointer;  
}

#info_mo {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  z-index: 13000;
}

.info_mo .info_moarea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 328px;
  height: fit-content;
  padding: 30px 24px;
  border-radius: 12px;
}

.info_mo .info_moinn {
  width: 100%;
  height: 260px;
  overflow: hidden;
  overflow-y: scroll;
} 

.info_mo .info_moinn::-webkit-scrollbar {
  display: none;
}

.info_mo .tt {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.info_mo .dese {
  line-height: 1.2rem;
  color: #474846;
  font-weight: 400;
}

.info_mo .dese .br {
  margin-bottom: 8px;
}

.info_mo .hide {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: right;
  cursor: pointer;
} .info_mo .hide:hover {
  color: #606060;
}

.t_price .btn_box {
  gap: 10px;
}

.t_price .btn_box button {
  font-size: 0.8rem;
  font-weight: 600;
}




@media screen and (min-width: 1366px) {
  .pc-none {
    display: none;
  }

  .mo-none {
    display: block;
  }

  button {
    font-size: 1rem;
    padding: 16px 30px;
  }

  .desc {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  body {
    position: relative;
  }

  .buy_vi_inner .imgswiper .img_box {
    height: 800px;
  }
 
  .buy_vi_inner .buyprice_area {
    padding: 60px 83px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    background: linear-gradient(to bottom, rgba(0,0,0,0.01) 10%, #121212 100%);
    z-index: 1;
  }
  
  .buy_vi_inner .buyprice_area .tt {
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 20px;
  }

  .buy_vi_inner .buyprice_area .desc {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .buy_vi_inner .buyprice_area .inn {
    gap: 40px;
  }

  .buy_vi_inner .buyprice_area .inn li {
    width: 190px;
  }

  .buy_vi_inner .buyprice_area .inn .img_box {
    width: 60px;
    margin-bottom: 20px;
  }

  .buy_vi_inner .buyprice_area .inn .txt {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  
  .buy_detail {
    position: relative;
    padding: 98px 0px 120px;
  }

  .buy_detail > div {
    display: grid;
    grid-template-columns: 800px 360px;
    gap: 0px 40px;
    height: 100%;
    align-items: start;
  }

  .buy_area {

  }

  .pdp_cont {
    padding: 0px 0px 80px 0px;
    margin: 0 0 80px 0;
  } .pdp_cont:last-child {
    padding-bottom: 0px;
    margin: 0px;
  }

  .pdp_cont .t-form {
    text-align: left;
  }

  .pdp_cont .t-tit {
    font-size: 1.6rem;
    line-height: 2rem;
    padding-bottom: 10px;
  }

  .con_sumUp .pdp_inn li, .trim_option .pdp_inn li, .col_option .pdp_inn li {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 0px 16px;
    padding: 20px 0px;
    border-bottom: 1px solid #dadbdc;
    align-items: start;
    margin-bottom: 0px;

  }

  .pdp_cont .pdp_inn .title {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #121212;
    margin-bottom: 0px;
  }

  .pdp_cont .pdp_inn .name, .pdp_cont .pdp_inn .bold  {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  
  .con_sumUp .pdp_inn li:nth-child(2) {
    border: 0px;
  }

  .con_option .pdp_inn {
    justify-content: left;
  }

  .con_option .pdp_inn li {
    background: #f8f8f8;
    padding: 6px;
    width: 8.1%;
    height: 98px;
    
  }

  .col_option .col_list {
    gap: 20px;
    /* justify-content: right; */
  }

  .col_option label .name {
    display: block;
  }

  .col_option .label_box .col_box {
    width: 70px;
    height: 70px;
    margin-bottom: 12px;
  }

  .tab_option .opConInn {
    justify-content: left;
  }

  .tab_option .opConInn .opCon {
    width: 24%;
    height: 280px;
    display: block;
  }

  .tab_option .opConInn .opCon .txt_box {
    padding: 20px;
  }

  .tab_option .opConInn .opCon .txt_box .opname {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 20px;
  }

  .tab_option .opConInn .opCon .txt_box .opprice {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .tab_option .opConInn .load {
    display: none;
  }

  .tab_option .opTab > div {
    font-size: 1.2rem;
    padding: 24px 34px;
  }

  .tab_option .opConarea .tt {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .tab_option .opConarea .subTab {
    font-size: 1rem;
  }
  
  .tab_option .opConarea .subTab > div {
    padding: 16px 30px;
    font-size: 1.2rem;
  }

  .info_mo .info_moarea {
    padding: 24px;
    width: 600px;
    height: fit-content;
  }
  
  .info_mo .tt {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 700;
  }

  .info_mo .dese {
    font-size: 1rem;
  }

  .info_mo .dese .br {
    margin-bottom: 16px;
  }

  .info_mo .hide {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 700;
  }

  .price_area {
    position: sticky;
    top: 180px;  
  }

  .price_area > div {
    display: block;
    position: unset;
    border: 1px solid #dadbdc;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 24px;
  }

  .price_area .tit {
    display: block;
    margin-bottom: 0px;
  }

  .price_area .tit .desc {
    color: #121212;
    margin-bottom: 34px;
  }

  .price_area .tit .tsub {
    font-size: 1.2rem;
    font-weight: 600;
    color: #757575;
    margin-bottom: 10px;
  }
    
  .price_area .tit h4 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 0px;
  }
  
  .price_area .tit h4 span {
    font-size: 1.2rem;
    margin-left: 6px;
  }

  .price_area .t_price .desc {
    margin-bottom: 34px;    
  }
  
  .price_area .t_price .tooltips {
    margin-bottom: 12px;
    display: flex;
    justify-content: right;
  }
  
  .price_area .t_price .tooltips p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-left: 4px;
  }

  .price_area .t_price .btn_box button {
    font-size: 1rem;
    padding: 16px 30px;
  }

  .price_area .t_price .tooltips i {
    font-size: 1.2rem;
  }

}
